<section class="work">
  <header class="work-header">
    <h2 class="work-title">{{ title() }}</h2>

    <div class="work-filter">
      <app-button [active]="true" buttonType="tertiary">All (12)</app-button>
      <app-button buttonType="tertiary">Assigned to me (12)</app-button>
      <app-button buttonType="tertiary">Pending Review (8)</app-button>
      <app-button buttonType="tertiary">Referrals (3)</app-button>
    </div>
  </header>
  <app-smart-table [columns]="columns()" [data]="rows()" density="compact">
    <ng-template let-c appSmartCell="originator">
      <div class="flex items-center gap-3">
        <app-avatar [name]="c.value" size="32px" testId="header-avatar"></app-avatar>
        <span>{{ c.value }}</span>
      </div>
    </ng-template>

    <ng-template let-c appSmartCell="clientLine">
      <div>
        <div class="client">{{ c.value.client }}</div>
        <div class="sub">{{ c.value.line }}</div>
      </div>
    </ng-template>

    <ng-template let-c appSmartCell="status">
      <div class="flex items-center gap-2">
        <span [ngClass]="getStatusClass(c.value)" class="dot"></span>
        <span>{{ c.value }}</span>
      </div>
    </ng-template>

    <ng-template let-c appSmartCell="created">
      {{ c.value | date: 'MM/dd/yyyy' }}
    </ng-template>
  </app-smart-table>
</section>
