<div class="info">
  <div class="info__block">
    <div class="info__logo">
      <app-svg-icon height="102px" iconId="accountAvatar" width="102px" />
    </div>

    <div class="info__main">
      <h2 class="info__title">Maritime Logistics Corp</h2>

      <ul class="info-meta" role="list">
        <li class="info-meta__item">
          <span class="info-meta__label">425 Harbor Boulevard, Suite 300</span>
          <span class="info-meta__value">Seattle, WA 98104</span>
        </li>

        <li class="info-meta__item">
          <span class="info-meta__label info-meta__label--muted">EXISTING ACCOUNT</span>
          <span class="info-meta__value">54383</span>
        </li>

        <li class="info-meta__item">
          <span class="info-meta__label info-meta__label--muted">BROKER</span>
          <span class="info-meta__value">Marsh McLennan</span>
        </li>

        <li class="info-meta__item">
          <span class="info-meta__label info-meta__label--muted">UNDERWRITER</span>
          <span class="info-meta__value">Kate Johnson</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="info-attention">
    <div class="info-attention__header">
      <app-svg-icon height="20px" iconId="attention" width="20px" />
      <h3 class="info-attention__title">Needs Attention</h3>
    </div>
    <div class="info-attention__content">
      <div class="info-attention__card">
        <p>Marine Survey Required</p>
        <span>Scheduled for 06/12/2025</span>
        <a href="#">Review derails link →</a>
      </div>
      <div class="info-attention__card">
        <p>Loss Control Complete</p>
        <span>Last inspection: 02/15/2025</span>
        <a href="#">View report →</a>
      </div>
      <div class="info-attention__card">
        <p>Claims Review Required</p>
        <span>3 open claims // $245,000 TTL</span>
        <a href="#">View claims →</a>
      </div>
    </div>
  </div>
</div>
