@use 'assets/styles/tokens' as *;

.trend-card {
  width: 100%;
  height: 85px;

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}

.trend-card__title {
  @include h3;
  margin: 0 0 8px;
  color: $text-primary;
}
