@use 'assets/styles/tokens' as *;

.dashboard {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 120px;

  &-row {
    display: flex;
    align-items: stretch;
    gap: 20px;
    width: 100%;
  }

  &-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    &:not(:first-child) {
      max-width: 285px;
    }
  }

  &-card {
    @include card;
  }
}
