@use 'assets/styles/tokens' as *;

.market {
  &-header {
    padding-bottom: 10px;
  }

  &-title {
    @include faq;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-item {
    @include body-text;
    display: flex;
    gap: 10px;
    padding: 8px 0 10px;
    border-bottom: 1px solid $border-default;
    color: $text-primary;
    font-weight: 400;

    &__icon {
      display: inline-block;
      width: 16px;
      min-width: 16px;
      height: 16px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
    }
  }
}
