@use 'assets/styles/tokens' as *;

.actions {
  &-header {
    padding-bottom: 20px;
  }

  &-title {
    @include faq;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
